*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    font: normal 16px sans-serif;
    color: rgb(36,36,36)
}

nav{
    list-style: none;
}

a{
    color: rgb(247, 148, 164);
    text-decoration: none;
    opacity: .70;
}

a:hover{
    opacity:1;
    color: rgb(19, 83, 143);
}

li:hover{
    transform: scale(1.1);
}

header{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein .5s forwards;
    opacity: 0; 
    color: rgb(143, 24, 30);
}

@keyframes fadein{
    100%{
        opacity: 1;
        transform: translateX(50px);
    }
}

header nav{
    display:flex;
    margin-right: -15px;
    align-content: right;
}

header nav li{
    margin: 0 10px;
}

.container .background{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    z-index: -1;
}

.container-content{
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
    color: rgb(88, 127, 163);
    top: 40%;
    left: 8%;
    width: 33%;
    align-content: center;
    line-height: 50px;
}

.container-text{
    opacity: 1;
    animation-name: slidein;
    animation-delay: none;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes slidein{
0%{
    transform: translateX(50px);
    opacity: 0;
}
100%{
    transform: translateX(0);
    opacity: 1;
}
}

.my-name{
    color: rgb(131, 36, 36);
    animation-name: colorchange;
    animation-duration: 2s;
    animation-delay: none;
    animation-timing-function: linear;
}

@keyframes colorchange{
    0%{
        color: rgb(88, 127, 163);
    }
    100%{
        color: rgb(131, 36, 36);

    }
}

.socials{
    position: absolute;
    margin: 0 45%;
    bottom: 20px;
}

.icon{
    
    display: inline-block;
    height: 50px;
    width: 50px;
    color: white;
}

.projects{
    display: block;
    position: relative;
    top: 10%;
    height: 80%;
    width: 80%;
    margin: auto;
    background-color: rgba(112, 114, 112, 0.247);
    border-radius:10px;
    align-content: center;
}

.project-card{
    display: inline-block;
    height: 45%;
    width: 32.5%;
    border: 3px solid black;
    background-color: blue;
    margin-right: .22%;
    margin-left: .3%;
    border-radius: 10px;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-img{
 position: relative;
 display: block;
 height: 89%;
 width: 100%
}

section{
    height:10%;
    width: 100%;
    background-color: green;
}

