*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: rgb(36,36,36)
}

nav{
    list-style: none;
}

a{
    color: rgb(247, 148, 164);
    text-decoration: none;
    opacity: .70;
}

a:hover{
    opacity:1;
    color: rgb(19, 83, 143);
}

li:hover{
    transform: scale(1.1);
}

header{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein .5s forwards;
    opacity: 0; 
    color: rgb(143, 24, 30);
}

@keyframes fadein{
    100%{
        opacity: 1;
        transform: translateX(50px);
    }
}

header nav{
    display:flex;
    margin-right: -15px;
    align-content: right;
}

header nav li{
    margin: 0 10px;
}

.container .background{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    z-index: -1;
}

.container-content{
    color: rgb(88, 127, 163);
    margin: 20% 10%;
    width: 33%;
    align-content: center;
    line-height: 50px;
}

.my-name{
    color: rgb(131, 36, 36);
}

.socials{
    position: absolute;
    margin: 0 45%;
    bottom: 20px;
}

.icon{
    
    display: inline-block;
    height: 50px;
    width: 50px;
    color: white;
}